/* BASIC RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: #0e0e0e;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-bar {
    background-color: #1a1a1a;
    display: flex;
    flex-grow: 1;
    color: rgb(255, 255, 255);
    height: 2.8rem;
    width: 100%;
    position: sticky;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 20px;
    gap: 10px;
}

.guide-button {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgba(110, 110, 110, 0);
    transition: 0.3s ease;
    margin-left: 1rem;
    display: grid;
    cursor: pointer;
}

.guide-button:hover {
    background-color: rgb(110, 110, 110);
}

.guide-button p {
    border: 0;
    background-color: #00000000;
    align-self: center;
    justify-self: center;
    padding: 0;
    margin: 0;
    font-size:xx-large;
}

.icon {
    margin-left: 0.5rem;
    cursor: pointer;
    flex-shrink: 0;

}

.search-bar {
    align-self: center;
}

.search-bar input {
    resize: none;
    height: 2rem;
    width: 20rem;
    max-width: 50%;
    border-radius: 1rem;
    padding: 8px;
    border-width: 0px;
    border-color:rgb(91, 149, 255);
    transition: 0.1s ease;
}
.search-bar input:focus {
    outline: none;
    border-width: 2px;
}

.guide-panel {
    display: flex;
    background-color:#1a1a1a;
    height: 100vh;
    width: 0px;
    transition: width 0.1s ease;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    flex-shrink: 0;
    position: sticky;
}

.guide-panel button {
    background-color: #00000000;
    border-color:#ffffff;
    border-width: 1px;
    border-style:solid;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    color: white;
    font-size: large;
}

.guide-panel button:hover {
    height: 50px;
    width: 210px;
    border-radius: 12px;
    background-color: #1f1f1fa7;
}

.guide-panel.active  {
    width: 300px;
}

.screen {
    display: none !important;
    width: 100%;
    height: 100%;
}

.screen.active {
    display: block !important;
}

#home-page {
    overflow-y: auto;
    overflow-x: hidden;
}

#video-grid-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

#video-player {
    overflow-y: auto;
    padding: 10px;
}

.video-player.video-display {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-shrink: 1;
    aspect-ratio: 16/9;
}

.video-card {
    background-color: #313131;
    flex-grow: 0;
    width: 48%;
    flex-basis: 2;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display:flex;
    position: relative;
    flex-shrink: 0;
}

.video-card img {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-card p {
    align-self:self-end;
    padding: 10px;
    color: #ffffff;
    z-index: 2;
    text-decoration: solid;

    text-shadow: 1px 1px 1px #000;
}

.hover-overlay {
    position:absolute;
    top: 0px;
    left: 0px;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s ease;
    z-index: 3;
}

.hover-overlay:hover {
    background-color: #00000038;
}

#player {
    width: 100%;
    flex-shrink: 1;
    aspect-ratio: 16/9;
}

#Upload-button {
    background-color: #00000000;
    border-radius: 10 px;
    cursor: pointer;
}

#Upload-button :hover {
    background-color: #3c3939;
}

.Upload-header {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

.Upload-header.active {
    display: block ;
}

.Upload {
    color: #fff;
    border-radius: 1.1rem;
    display: flexbox;
    flex-grow: 1;
    flex-basis: 260px;
    height: 100%;
    z-index: 2;
    justify-items: center;
    align-content: center;
    pointer-events: none;
}

.upload-screen-container {
    background-color: #1a1a1a;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    padding: 20px;
    pointer-events: all;
    border-radius: 1.1rem;
    flex-direction: row;
}

.upload-screen-container.active {
    display: flex;
}

.upload-screen {

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 10px;
}

.upload-screen.edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: end;
}

#video-player-preview {
    width: 70%;
    aspect-ratio: 16/9;
}

.upload-div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#video-player-preview {
    width: 300px;
}

.upload-div-vertical.up {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 10px;
}

.upload-div-vertical.down {
    display: flex;
    background-color: #2d2d2d;
    width: 100%;
    height: 30px;
    justify-content: end;
    padding: 15px;
    border-radius: 5px;
}

.upload-div.Publish {
    position: relative;
}

.upload-screen.start {
    border: 2px dashed #ff9100;
    border-radius: 1.1rem;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.Upload-input {
    text-align: center;
    display: flex;
    align-self: center;
    border: solid 2px #ffffff00;
    background-color: #2d2d2d;
    padding: 5px;
    height: 30px;
    color: #fff;
    border-radius: 10px;
}

.upload-div.left textarea{
    height: 60%;
    width: 100%;
    text-align: start;
    resize: none;
}

.upload-div.left input{
    text-align: left;
    width: 100%;
}

.Upload-input :focus {
    outline: none;
    border-width: 2px;
}


@media (max-width: 1000px) {
    .video-card {
        flex-basis: 100%;
    }
    .top-bar {
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .video-card {
        flex-basis: 32%;
    }

    .video-player.video-display {
        width: 70%;
    }
    
}
